<div class="container">
  <div class="row justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">City</th>
          <th scope="col">Subject</th>
          <th scope="col">Time frame</th>
          <th scope="col">Availability</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of requests">
          <td>{{r.date}}</td>
          <td>{{r.firstName}}</td>
          <td>{{r.lastName}}</td>
          <td>{{r.city}}</td>
          <td>{{r.subject}}</td>
          <td>{{r.timeFrame}}</td>
          <td>
            <span *ngFor="let a of r.availability">
          <td>{{a}}&nbsp;</td>
          </span>
          </td>
          <td>
            <div class="row">
              <div class="col-md-2">
                <!--<button><a [routerLink]="['/edit', u.userId]"></a></button> -->
                <button type="button" class="btn" (click)="editRequest(r)">Edit</button>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn" (click)="deleteRequest(r.requestId)">Delete</button>
              </div>
              <div *ngIf="userType==='tutor'" class="col-md-3">
                <button type="button" class="btn">Contact</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>